@value squareLength 3em;
@value squareBorder 1px;
@value gridGap 1em;

.grid {
    display: grid;
    grid-gap: gridGap;
    box-sizing: border-box;
}

.square {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: squareLength;
    height: squareLength;
    border: squareBorder solid black;
    cursor: pointer;
}

.square:hover {
    background-color: lightyellow;
}
